<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MemberMapper">


	
	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from member where m_email=#{m_email} and m_pass=#{m_pass}
	</select>

	<insert id="insertMember">
		insert into member(m_email,m_pass,m_name,m_tel,m_birth,m_zip,m_address,m_detail_address) 
		values(#{m_email}, #{m_pass}, #{m_name}, #{m_tel}, #{m_birth}, #{m_zip}, #{m_address}, #{m_detail_address})	
	</insert>
	
	<select id="getMemberEmail" resultType="com.itwillbs.domain.MemberDTO">
		select * from member where m_email=#{m_email}
	</select>
	
	
	<!-- 검색 -->
	<select id="listSearch" resultType="com.itwillbs.domain.ProductDTO"
	parameterType="com.itwillbs.domain.SearchDTO">
		select p_num, p_name, p_price, p_date 
		from ()
		where 
	</select>
	
</mapper>